exclude: '.github/|docs/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key

  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: # arguments to configure black
          - --profile=black

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - --remove-all-unused-imports
          - --ignore-init-module-imports
          - --in-place

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        args: # arguments to configure black
          - --line-length=120
          # these folders won't be formatted by black
          - --exclude="""\.git |
            \.__pycache__|
            \**.egg-info|
            \.mypy_cache|
            \.pytest_cache|
            \.tox|
            \.venv|
            _build|
            build|
            dist"""

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        package: slack_mcp,test
  #      exclude: ^test/unit_test.{1,64}.py
        args:
  #        - --strict
          - --ignore-missing-imports
          - --show-traceback
        additional_dependencies: [types-PyYAML>=6.0.12.9]

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.21
    hooks:
      - id: uv-lock
