name: Run test and organize test coverage reports

on:
  workflow_call:
    inputs:
      run_e2e:
        description: "The testing type. In generally, it only has 2 options: 'unit-test' and 'integration-test'."
        type: boolean
        required: false
        default: false
    secrets:
      e2e_test_api_token:
        description: "Set the Slack bot token for end-to-end test."
        required: false

jobs:
  run_unit-test:
#    name: Run all unit test items
    uses: Chisanan232/Template-Python-UV-Project/.github/workflows/rw_uv_run_test_with_multi_py_versions.yaml@master
    with:
      test_type: unit-test
      test_folder: './test/unit_test'
      install_dependency_with_group: 'dev'
      python-versions: '["3.13"]'
      operating-systems: '["ubuntu-latest", "ubuntu-22.04", "macos-latest", "macos-14"]'

  run_integration-test:
#    name: Run all integration test items
    uses: Chisanan232/Template-Python-UV-Project/.github/workflows/rw_uv_run_test_with_multi_py_versions.yaml@master
    with:
      test_type: integration-test
      test_folder: './test/integration_test'
      install_dependency_with_group: 'dev'
      python-versions: '["3.13"]'
      operating-systems: '["ubuntu-latest", "ubuntu-22.04", "macos-latest", "macos-14"]'

  run_e2e-test:
#    name: Run all end-to-end test items
    if: ${{ inputs.run_e2e == true }}
    uses: Chisanan232/Template-Python-UV-Project/.github/workflows/rw_uv_run_test_with_multi_py_versions.yaml@master
    with:
      test_type: e2e-test
      test_folder: './test/e2e_test'
      install_dependency_with_group: 'dev'
      max-parallel: 1
      python-versions: '["3.13"]'
      operating-systems: '["ubuntu-latest", "ubuntu-22.04", "macos-latest", "macos-14"]'
    secrets:
      e2e_test_api_token: ${{ secrets.e2e_test_api_token }}

  run_contract-test:
#    name: Run all contract test items
    uses: Chisanan232/Template-Python-UV-Project/.github/workflows/rw_uv_run_test_with_multi_py_versions.yaml@master
    with:
      test_type: contract-test
      test_folder: './test/contract_test'
      install_dependency_with_group: 'dev'
      python-versions: '["3.13"]'
      operating-systems: '["ubuntu-latest", "ubuntu-22.04", "macos-latest", "macos-14"]'

  run_script-test:
#    name: Run all contract test items
    uses: Chisanan232/Template-Python-UV-Project/.github/workflows/rw_uv_run_test_with_multi_py_versions.yaml@master
    with:
      test_type: ci-script-test
      test_folder: './test/ci_script_test'
      install_dependency_with_group: 'dev'
      python-versions: '["3.13"]'
      operating-systems: '["ubuntu-latest", "ubuntu-22.04", "macos-latest", "macos-14"]'

  unit-test_codecov:
#    name: For unit test, organize and generate the testing report and upload it to Codecov
    if: ${{
        contains(fromJSON('["pull_request","workflow_dispatch","schedule"]'), github.event_name) ||
        (github.event_name == 'push' && github.ref_name == 'master')
      }}
    needs: run_unit-test
    uses: Chisanan232/Template-Python-UV-Project/.github/workflows/rw_organize_test_cov_reports.yaml@master
    with:
      test_type: unit-test

  integration-test_codecov:
#    name: For unit test, organize and generate the testing report and upload it to Codecov
    if: ${{
        contains(fromJSON('["pull_request","workflow_dispatch","schedule"]'), github.event_name) ||
        (github.event_name == 'push' && github.ref_name == 'master')
      }}
    needs: run_integration-test
    uses: Chisanan232/Template-Python-UV-Project/.github/workflows/rw_organize_test_cov_reports.yaml@master
    with:
      test_type: integration-test

  e2e-test_codecov:
#    name: For end-to-end test, organize and generate the testing report and upload it to Codecov
    if: ${{
        contains(fromJSON('["pull_request","workflow_dispatch","schedule"]'), github.event_name) ||
        (github.event_name == 'push' && github.ref_name == 'master')
      }}
    needs: run_e2e-test
    uses: Chisanan232/Template-Python-UV-Project/.github/workflows/rw_organize_test_cov_reports.yaml@master
    with:
      test_type: e2e-test

  contract-test_codecov:
#    name: For end-to-end test, organize and generate the testing report and upload it to Codecov
    if: ${{
        contains(fromJSON('["pull_request","workflow_dispatch","schedule"]'), github.event_name) ||
        (github.event_name == 'push' && github.ref_name == 'master')
      }}
    needs: run_contract-test
    uses: Chisanan232/Template-Python-UV-Project/.github/workflows/rw_organize_test_cov_reports.yaml@master
    with:
      test_type: contract-test

  all_test_not_e2e_test_codecov:
#    name: Organize and generate the testing report and upload it to Codecov
    if: ${{
        (
            contains(fromJSON('["pull_request","workflow_dispatch","schedule"]'), github.event_name) ||
            (github.event_name == 'push' && github.ref_name == 'master')
        ) &&
        inputs.run_e2e == false
      }}
#    needs: [run_unit-test, run_integration-test, run_contract-test]
    needs: [run_unit-test, run_integration-test, run_contract-test]
    uses: Chisanan232/Template-Python-UV-Project/.github/workflows/rw_organize_test_cov_reports.yaml@master
    with:
      test_type: all-test

  all_test_include_e2e_test_codecov:
#    name: Organize and generate the testing report and upload it to Codecov
    if: ${{
        (
            contains(fromJSON('["pull_request","workflow_dispatch","schedule"]'), github.event_name) ||
            (github.event_name == 'push' && github.ref_name == 'master')
        ) &&
        inputs.run_e2e == true
      }}
#    needs: [run_unit-test, run_integration-test, run_contract-test, run_e2e-test]
    needs: [run_unit-test, run_integration-test, run_contract-test, run_e2e-test]
    uses: Chisanan232/Template-Python-UV-Project/.github/workflows/rw_organize_test_cov_reports.yaml@master
    with:
      test_type: all-test
